/* ZT Formom Font Integration */

@font-face {
    font-family: 'ZT Formom';
    src: url('ZT-Formom-Regular.woff') format('woff'),
        url('ZT-Formom-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZT Formom';
    src: url('ZT-Formom-Italic.woff') format('woff'),
        url('ZT-Formom-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}